.register {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url(https://img.freepik.com/free-photo/aerial-view-man-typing-retro-typewriter_53876-40994.jpg?size=626&ext=jpg&ga=GA1.1.192270284.1694526972&semt=sph);
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.registerInput:focus {
    outline: none;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}