.home{
    display: flex;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url();
    background-size: contain;
}

@media (min-width: 769px) {
}

  /* Define styles for screens narrower than 768px but wider than 480px */
@media (min-width: 481px) and (max-width: 768px) {
}

  /* Define styles for screens narrower than 480px */
@media (max-width: 480px) {
}